{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 80,
    "arrowParens": "always",
    "bracketSpacing": true
}
