@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  /* ------------------ BUTTON ------------------*/
  .button {
    @apply mb-10 mt-10 flex h-14 w-full cursor-pointer flex-col items-center justify-center rounded-lg bg-primary font-bold text-white transition-colors duration-200;
  }

  /* 메인색상 버튼 */
  .button.color {
    @apply bg-primary dark:bg-primary-400;
  }
  .button.color:hover {
    @apply bg-primary-450 dark:bg-primary-350;
  }
  .button.color.disable {
    @apply bg-primary-100 text-primary-200 dark:bg-primary-100 dark:text-primary-200;
  }

  /* 회색색상 버튼 */
  .button.gray {
    @apply bg-neutral-200 text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200;
  }
  .button.gray:hover {
    @apply bg-neutral-300 dark:bg-neutral-600;
  }

  /* ------------------ INPUT ------------------*/

  input {
    @apply p-3 transition-colors duration-200;
  }

  /*input.inserted {*/
  /*  @apply border-input-line bg-input-bg dark:border-primary-300 dark:bg-primary-100;*/
  /*}*/

  /* ------------------ TEXT ------------------*/

  .pageName {
    @apply text-3xl font-semibold text-gray-700 dark:text-gray-200;
  }

  .title {
    @apply text-base font-normal text-gray-600 dark:text-gray-400;
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
}
