@import "./datepicker-custom.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
     * TODO: Remove after upgrading to Tailwind CSS 4.0+
     * Context: https://github.com/tailwindlabs/tailwindcss/issues/8961
     */
  button,
  [role="button"] {
    cursor: default;
  }
}

:root {
  --background: #eaeaea;
  --foreground: #333333;
  --primary: #ff5b1a;
  --primary-100: #fff3ef;
  --primary-200: #ffb99d;
  --primary-250: #ffad8d;
  --primary-300: #ff9d76;
  --primary-350: #ff8c5f;
  --primary-400: #ff7c48;
  --primary-450: #ff6b31;
  --input-color-line: #ffcab5;
  --input-color-bg: #fef1e5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none;
  @apply tracking-tight;
}
::-webkit-scrollbar {
  display: none;
}

input {
  @apply h-12 w-full rounded-lg border-1 border-gray-200;
}

input:focus {
  @apply border-primary-200 outline-none;
}

a {
  cursor: pointer;
}
